.centerer {
  width: 100%;
  height: calc(100vh - 63px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 50vw;
  min-width: 500px;
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 7px rgba(0, 0, 0, 0.5);
}

.login-card h1 {
  margin-top: 5px
}

.field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.field input {
  flex: 2;
}

.field label {
  flex: 1;
}

.errorField {
  color: red;
  font-size: 0.8em;
  margin-bottom: 5px;
}