<div class="centerer">
  <div [formGroup]="loginForm" class="login-card">
    <h1>Inicia Sesión</h1>
    <div class="field">
      <label for="email">Correo: </label>
      <input id="email" formControlName="email" type="email">
    </div>
    <div class="errorField" *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)">
      <div *ngIf="loginForm.get('email').errors.required else badEmail">
        Email requerido
      </div>
      <ng-template #badEmail>Email inválido</ng-template>
    </div>
    <div class="field">
      <label for="password"> Contraseña: </label>
      <input id="password" formControlName="password" type="password">
    </div>
    <div class="errorField" *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched) ">
      Se requiere contraseña
    </div>
    <button (click)="validate()">Login</button>
  </div>
</div>