/* You can add global styles to this file, and also import other style files */
* { 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEE
}

button {
  background-color: #1AAB4C;
  color: white;
  border: none;
  border-radius: 10px;
  outline-width: 0.5px;
  outline-offset: 2px;
  outline-color: #1AAB4C;
  font-size: 1em;
  padding: 10px;
  font-weight: bold;
  transition: background-color 100ms ease-out;
}

button:hover {
  background-color: #188f42;
}

button:active {
  background-color: #1AAB4C;
}